<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <title>Minesweeper</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<center>
<h2>Welcome to Minesweeper {{ 1 + 1 }}</h2>

<div ng-controller="MinesweeperController">
    <table class="minefield">
        <tr ng-repeat="row in minefield.rows">
            <td ng-repeat="spot in row.spots" ng-click="spot.isCovered = false">
                <img ng-if="spot.isCovered" src="images/covered.png" />
                <img ng-if="!spot.isCovered && spot.content == 'empty'" src="images/empty.png" />
                <img ng-if="!spot.isCovered && spot.content == 'mine'" src="images/mine.png" />
            </td>
        </tr>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js">
</script>
<script src="apps/app.js" type="text/javascript"></script>
<script src="apps/controllers.js" type="text/javascript"></script>
</center>
</body>
</html>
